body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}

.container {
    font-size: 3rem;
    margin: auto;
    max-width: 800px;
    margin-top: 20px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.toast-success-container {
    color: #000 !important;
    border-radius: 8px !important;
    background: #FFFFFF !important;
    border: 1px solid #34A853 !important;
    box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}

.modal-open {
    overflow: hidden !important;
}